:root{
    --rosa-escuro: rgba(231,35,87);
    --laranja-escuro: rgba(233,73,42);
    --rosa-claro: rgba(248,151,196);
    --verde: rgba(37,211,102);
    --azul: rgba(35,84,166);
    --laranja-claro: rgba(252,76,2);
    --cinza-claro: rgba(242,242,242);
}